extends layout

title='Members'
block content
  h1 Members Area
  p Welcome to the members area
    ul
      each user in users
        li(style='white-space:pre;')
          | Username: #{user.uname}
          | Email: #{user.email} <br/>
          if person && person.role === "admin"
              | Role: #{user.role} <br/>
              if user.role !== "admin"
                button.btn.btn-secondary(type="button", onclick=`handleDBUpdate(${JSON.stringify(user.id)},'admin')`) Change Role to Admin
              else
                button.btn.btn-secondary(type="button", onclick=`handleDBUpdate(${JSON.stringify(user.id)}, 'user')`) Change Role to User
              button.btn.btn-secondary(onclick=`handleDBDelete(${JSON.stringify(user.id)})`) Delete User

