extends layout

title='Members'
block content
  h1 Members Area
  p Welcome to the members area
    ul
      each user in users
        li(style='white-space:pre;')
          | Username: #{user.uname}
          | Email: #{user.email} <br/>
          if person && person.role === "admin"
              | Role: #{user.role} <br/>
              if user.role !== "admin"
                button.btn.btn-secondary(type="button", onclick=`handleDbUpdates('/users/put/','PUT', ${JSON.stringify({id: user.id, role:'admin'})})`) Change Role to Admin
              else
                button.btn.btn-secondary(type="button", onclick=`handleDbUpdates('users/put/','PUT', ${JSON.stringify({id: user.id, role:'user'})})`) Change Role to User
              button.btn.btn-secondary(onclick=`handleDbUpdates('/users/delete/','DELETE', ${JSON.stringify({id:user.id})})`) Delete User

